.mui-bar-nav {
	box-shadow: none;
}

.mui-slider-indicator .mui-indicator {
	-webkit-box-shadow: none;
	box-shadow: none;
	background: white;
}

.mui-slider-indicator .mui-active.mui-indicator {
	background: #F03844;
}

.hBg {
	background-color: #f03844;
}

#logo {
	width: 44px;
	height: 44px;
	float: left;
	overflow: hidden;
	display: flex;
	align-items: center;
}

#logo img {
	width: 34px;
}

#searchBtn {
	width: 60%;
	height: 30px;
	line-height: 30px;
	margin: 7px;
	background-color: white;
	border-radius: 30px;
	float: right;
	background: url(../imgs/searchBut.png) no-repeat 8px center white;
	background-size: auto 68%;
	padding-left: 35px;
	color: #6D6D72;
	font-size: 14px;
}

.newsList {
	padding: 8px;
}

.newsList ul {
	list-style: none;
	padding: 0;
}

.newsList li {
	width: 100%;
	overflow: hidden;
	padding-bottom: 10px;
}

.newsList .imgs {
	width: 20%;
	float: left;
	overflow: hidden;
	height: 50px;
}

.newsList .imgs img {
	width: 100%;
	height: 100%;
}

.newsList .title {
	width: 78%;
	float: right;
	overflow: hidden;
	font-size: 14px;
	line-height: 1.5em;
}
